body {
    background-color: rgb(26, 23, 27);
    font-family: "Raleway", sans-serif;
}

#tituloNav {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: #9f4dce; 
}

#tituloNav:hover {
    font-size: 41px;
    color: #6b2081; /* Cambia a un tono más claro al hacer hover */
}

.card {
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto hover */
}

.card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el mouse */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7); /* Sombra más prominente al hacer hover */
}

.btn-primary {
    background-color: #741f85; 
    border: none; /* Sin borde */
    transition: background-color 0.3s; /* Transición para hover */
}

.btn-primary:hover {
    background-color: #a82d98; /* Color al pasar el mouse */
}

footer {
    border-top: 2px solid #110420; /* Línea separadora */
}
