:root {
    --color-primario: #9f4dce;
    --color-secundario: #6b2081;
    --color-fondo: #1a1a1a;
    --color-texto: #ebe5e2;
    --color-boton: #741f85;
    --color-boton-hover: #a82d98;
}

body {
    background-color: var(--color-fondo);
    font-family: 'Raleway', sans-serif;
    color: var(--color-texto);
}

#tituloNav {
    font-size: 40px;
    color: var(--color-primario);
    transition: font-size 0.3s, color 0.3s;
}

#tituloNav:hover {
    font-size: 41px;
    color: var(--color-secundario);
}

.navbar-nav .nav-link {
    color: var(--color-texto) !important;
    margin-left: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--color-primario) !important;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.card-title {
    font-size: 34px;
    color: var(--color-texto);
}

.card-text {
    font-size: 20px;
}

.btn-primary {
    background-color: var(--color-boton);
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-boton-hover);
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #1a1a1a;
    border-top: 2px solid #110420;
}

footer a {
    font-size: 1.2rem;
    transition: color 0.3s;
}

footer a:hover {
    color: var(--color-primario);
}

@media (max-width: 768px) {
    .card-title {
        font-size: 24px;
    }
    
    .card-text {
        font-size: 16px;
    }

    #tituloNav {
        font-size: 30px;
    }
}

section {
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
